.env
_notes/
scripts/
databruce/database/_schema/*
databruce/database/functions/*
databruce/database/old/*
databruce/database/_logs/*
__pycache__
*.sqlite
\.vscode
*.ps1
*.tar
*.tar
\_schema\*
/databruce/database/_schema
databruce/database/_schema/psql load command.txt
databruce/database/_schema/out.tar
*.tar
databruce/test.py
test.py
list.txt
databruce/test.py
databruce/musicbrainz_venue_search.py
