.env
_notes/
scripts/
databruce/database/_schema/*
databruce/database/functions/*
databruce/database/old/*
databruce/database/_logs/*
__pycache__
*.sqlite
\.vscode
*.ps1
*.tar
databruce/database/_schema
databruce/database/_schema/psql load command.txt
databruce/database/_schema/out.tar
databruce/test.py
databruce/musicbrainz_venue_search.py
databruce/database/supabase.sql
databruce/database/digital_ocean_dump.sql
databruce/database/dump.sql
databruce/database/digital_ocean_dump.sql
databruce/database/dump.sql
ringtones.csv
url.txt
databruce/test.html
